{% extends "index.html"%}
{% block title %}Login Page{% endblock %}

{% block content %}
<h2>This is Login Page</h2>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for m in messages %}
            <p>{{m}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

<div class="login_page" style="margin-left: 50px;">

    <form action="#" method="POST">
        <div class="mau_nen">
            <img class="icon_login" src="{{ url_for('static', filename='images/icon_login_3.jpg') }}">
            <img class="icon_username" src="{{ url_for('static', filename='images/icon_username_2.png') }}">

                <div class="position_form">
                    <input class="chat_text" type="text " name="name" placeholder=" Username">
                    <button class="chat_button" type="submit">Login</button>

                </div>
                {% if error_message %}
                        <img class="icon_error" src="{{ url_for('static', filename='images/icon_error.png') }}">
                        <p class="error_mess" >{{ error_message }}</p>
                {% endif %}
        </div>
    </form>
</div>

{% endblock %}